LANGSMITH_API_KEY=xxx
LANGSMITH_PROJECT=competeSrl-RAGv2
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com/  
   #x region EU, x US region senza 'eu'
LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=rag-enterprise-legal

BASE_URL_OLLAMA=http://localhost:11434

#credenziali x chainlit chat ui
APP_USER=admin
APP_PASSWORD=admin
CHAINLIT_AUTH_SECRET="xxx"  

OLLAMA_API_KEY=xxx
GOOGLE_API_KEY=xxx
OPENAI_API_KEY=xxx

REDIS_PASSWORD=changeme 
REDIS_URL=redis://localhost:6379/0        #usato come broker Celery
REDIS_CACHE_URL=redis://localhost:6379/1  #usato per caching RAG

SQLSERVER_PASSWORD=YourStrong!Passw0rd   # cambia in produzione

QDRANT_API_KEY=    # lascia vuoto in dev, obbligatorio in prod

FLOWER_USER=admin
FLOWER_PASSWORD=changeme

JWT_SECRET_KEY=generate-a-long-random-string-here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
